:root {
  --font-size: 18px;
  --padding-cell: 0.25em 0.4em;
  --padding-mobile: 0.2em 0.3em;
  --row-gap: 0.4em;

  --color-bg: #17171c;
  --color-fg: #eceff4;
  --color-border: #3b4252;
  --color-header: #2e3440;
  --color-hover: #434c5e;

  --color-buy: #cadabd;
  --color-sell: #d5979d;

  --color-black: #2e3440;
  --color-white: #eceff4;
  --color-green: #a3be8c;
  --color-red: #bf616a;
  --color-yellow: #ebcb8b;
  --color-blue: #8fbcbb;

  --color-link: #8fbcbb;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: var(--font-size);
  margin: 0.5em;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

#title {
  font-size: 200%; 
  font-weight: bold;
  margin-right: 1em;
}

#reload-btn {
  font-size: 110%;
  font-family: inherit;
  padding: 6px;
}

#title-div {
  display: flex;
  margin-bottom: 2em;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}

th, td {
  border: 1px solid var(--color-border);
  padding: var(--padding-cell);
  text-align: left;
  overflow: hidden;
  word-break: break-word;
  transition: background-color 0.2s ease, color 0.2s ease;
}

th {
  background-color: var(--color-header);
  cursor: pointer;
  user-select: none;
}

th .col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters { 
  display: flex; 
  gap: 40px; margin-bottom: 20px; 
  width: 80%;
}

.tickers-fitler { 
  display: flex; 
  flex-direction: column; 
  margin-bottom: 1em;
  width: 70%;
}

.date-filter { 
  display: flex !important; 
  flex-direction: column; 
  margin-bottom: 1em;
}

#from-date, 
#to-date {
  font-size: inherit;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: var(--color-fg);
  border: none;
}


button {
  background: var(--color-fg);
  color: var(--color-bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--color-blue);
}

#toggle-btn {
  padding: 5px;
  font-size: 90%;
  font-family: inherit;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  flex-wrap: wrap; 
  width: 100%;
}

.checkbox-row {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-right: 10px;
}

.custom-checkbox {
  margin-right: 5px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--color-white);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--color-blue);
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.buy-cell {
  color: var(--color-buy); 
}

.sell-cell {
  color: var(--color-sell); 
}

.remark-cell {
  width: 40%;
  padding: 3px;
}


textarea.remark-input {
  width: 100%;
  resize: none;
  overflow: hidden;
  border: none;
  font: inherit;
  vertical-align: middle;
  background-color: var(--color-bg);
  color: var(--color-fg);
  box-sizing: border-box;
}

.rating-cell {
  white-space: nowrap;
  padding: 0 4px;
  text-align: center;
  width: 10%;
  max-width: 60px;
  font-size: 1em;
}

.rating-number {
  cursor: pointer;
  margin: 0 1px;
  color: var(--color-header);
  user-select: none;
}

.rating-number.selected {
  color: var(--color-yellow); 
  font-weight: bold;
}

.rating-buttons button {
  margin: 2px;
  padding: 6px 10px;
  background-color: var(--color-bg);
  color: var(--color-fg);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
}

.rating-buttons button.active {
  background-color: var(--color-blue);
  color: var(--color-bg);
  border-color: var(--color-blue);
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    margin: 0.3em;
  }

  .filters {
    flex-direction: column;
    gap: 20px;
  }

  .filter-group {
    flex-direction: column;
    margin-bottom: 1em;
  }

  input[type="date"], button {
    font-size: 14px;
    padding: 4px 6px;
  }

  .remark-cell {
    width: 30% !important;
  }

  .rating-cell {
    width: 10% !important;
    font-size: 0.8em;
  }

  .rating-buttons button {
    padding: 4px 8px;
    font-size: 14px;
  }

  th, td {
    font-size: 11px;
    padding: var(--padding-mobile);
  }

  table {
    font-size: 11px;
  }

  h1 {
    font-size: 1.2em;
  }
}
